@import "./reset.less";

.header{

}

.main{

}

.footer{
    &Wrapper{
        .displayFlex(center, center, column);
        gap: 30px;
    }

    &Title{
        .font(var(--SizeText__Title), 600, 'Raleway__SemiBold');
        width: 100%;
        word-break: break-word;
    }

}